
<div class="container">
<footer class="footer">
  <div class="row">
    <div class="col">
  <div class="sub">Portfolio website of Jimmy Seto.</div>
    </div>
  </div>
      <div class="row">
        <div class="col-6 col-sm-3">
      <div class="sub"><a title="About" href="/about">About me / Contact info</a></div>
        </div>
        <div class="col-6 col-sm-3">
      <div class="sub"><a title="About" href="/about/jp">プロフィール詳細</a></div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-sm-3">
      <div class="sub"><a title="Projects" href="/projects">Projects / Demos</a></div>
        </div>
        <div class="col-6 col-sm-3">
      <div class="sub"><a title="Projects" href="/projects/jp">プロジェクト</a></div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-sm-3">
      <div class="sub"><a title="Posts" href="/Blog">Posts / Blog</a></div>
        </div>
        <div class="col-6 col-sm-3">
      <div class="sub"><a title="Posts" href="/Blog/jp">投稿</a></div>
        </div>
      </div>

</footer>
</div>
