
<div class="container">
<footer class="footer">
  <div class="row">
    <div class="col">
  <div class="sub">Portfolio website of Jimmy Seto</div>
    </div>
  </div>
      <div class="row">
        <div class="col-6 col-sm-4">
      <div class="sub"><a title="About" href="/about">About me / Contact</a></div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-sm-4">
      <div class="sub"><a title="Projects" href="/projects">Projects / Demos</a></div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-sm-4">
      <div class="sub"><a title="Posts" href="/Blog">Posts / Blog</a></div>
        </div>

      </div>

</footer>
</div>
