
<div class="container">
<footer class="footer">
  <div class="row">
    <div class="col">
  <div class="sub">ポートフォリオサイト～ジミー・セト</div>
    </div>
  </div>
      <div class="row">
        <div class="col-6 col-sm-4">
      <div class="sub"><a title="About" href="/about/jp">プロフィール / 問い合わせ　</a></div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-sm-4">
      <div class="sub"><a title="Projects" href="/projects/jp">プロジェクト</a></div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-sm-4">
      <div class="sub"><a title="Posts" href="/Blog/jp">ブログ / 投稿</a></div>
        </div>
      </div>

</footer>
</div>
