
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
<div class ="container">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<!-- Brand -->
<a class="navbar-brand" href="/">J.Seto</a>
<!-- Links -->
<div class="collapse navbar-collapse" id="nav-content">
  <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Blog">Posts</a>
      </li>
      <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span id="lanNavSel">English</span>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'language' %}
    {% for page in pages %}  <a id="jp" class="dropdown-item" href="{{page.url | prepend: site.baseurl }}"> {{ page.language }} </a>{% endfor %}

    {% assign posts=site.posts | where:"ref", page.ref | sort: 'language' %}
    {% for post in posts %}  <a id="jp" class="dropdown-item" href="{{post.url | prepend: site.baseurl }}"> {{ post.language }} </a>{% endfor %}
  </div>
</li>
  </ul>
  <ul class="navbar-nav ml-auto">
    {% for item in site.data.social %}
    <li>
      <a class="nav-link" href="{{ item.url }}">
        <i class="{{ item.icon }}"></i>
      </a>
    </li>
    {% endfor %}
  </ul>

</div>
</div>
</nav>

<!--
<div class="wrapper" style="text-align: right; line-height: 2em">
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
  {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a> {% endfor %}

  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a> {% endfor %}
</div>
-->
