// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

body {
    text-align: left;
    margin: 60px auto;
    width: 70%;
    font-family: monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}



nav ul, footer ul {
    font-family:'monospace';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 2em;
    font-family:'Garamond','monospace';
}

h2 {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}

p.meta {
  font-size: 1.0em;
  line-height: 1.4em;
  color: #334;

}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.blog {
  text-align: left;
  margin: 20px auto 40px;
  font-size: 1.0em;

}

ul.blog li {
    list-style: none;

}

div.posts {
  font-size: 0.6em;

}

a.blogg {


}
