<!DOCTYPE html>
	<html>
		<head>
			{% if page.url == '/' or page.url == '/index.html' %}
			<title>{{ page.title }}</title>
			{% else %}
			<title>{{ page.title }} | JLSeto</title>
			{% endif %}
			<link rel="stylesheet" type="text/css" href="../css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Jimmy L. Seto</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/projects">Projects</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:seto.jimmy@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/jlseto">github.com/jlseto</a></li>
				</ul>
			</footer>
		</body>
	</html>
