---
layout: defaultjp
---

{% assign project = site.data.projectsjp[page.title] %}

<div class="container">
  <h1>{{page.title}}</h1>
  <p>{{project.excerpt}}</p><br>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="mb-3">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{project.youtube}}" allowfullscreen></iframe>
  </div>
      </div>
    </div>
  </div>
  <br>

  <div class="container text-center">
  	<div class="row">
  		<div class="col">
        <div class="mt-3 mb-3">
  		<a href="{{project.git}}" class="btn btn-outline-primary btn-lg">ソースコードをギットで見る</a>
        </div>
  		</div>
  		<div class="col">
        <div class="mt-3 mb-3">
  		<a href="{{ project.blog }}" class="btn btn-outline-primary btn-lg">詳細をブログで見る</a>
        </div>
  		</div>
  	</div>
  </div>

</div>
